{% extends 'base.html.twig' %}

{% block baseline_specific_navigation %}
    <li class="nav-item">
        <a class="nav-link {% if app.current_route in ['baseline_chart'] %}active{% endif %}" aria-current="page" href="{{ path('baseline_chart', { id: baselineConfiguration.id}) }}">
            {{ 'baseline_monitoring.navigation.chart'|trans({'%baselineName%': baselineConfiguration.name}) }}
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if app.current_route in ['baseline_errors'] %}active{% endif %}" aria-current="page" href="{{ path('baseline_errors', { id: baselineConfiguration.id}) }}">
            {{ 'baseline_monitoring.navigation.error_list'|trans({'%baselineName%': baselineConfiguration.name}) }}
        </a>
    </li>
{% endblock %}

{% block body %}
    <h1>{{ 'baseline_monitoring.baseline.show.title'|trans({'%name%': baselineConfiguration.name}) }}</h1>

    <div class="row">
        <div class="col-9">
            {{ render_chart(chart) }}
        </div>
        <div class="col-3">
            {% if latestResult %}
                <dl class="row pt-4">
                    <dt class="col-sm-5">{{ 'baseline_monitoring.baseline.show.latest_result.errors'|trans }}</dt>
                    <dd class="col-sm-7">{{ latestResult.commutativeErrors }}</dd>

                    <dt class="col-sm-5">{{ 'baseline_monitoring.baseline.show.latest_result.unique'|trans }}</dt>
                    <dd class="col-sm-7">{{ latestResult.uniqueErrors }}</dd>

                    {% if latestResult.toolVersion %}
                        <dt class="col-sm-5 mt-5">
                            {{ 'baseline_monitoring.baseline.show.latest_result.phpstan_version'|trans }} /
                            {{ 'baseline_monitoring.baseline.show.latest_result.phpstan_version'|trans }}
                        </dt>
                        <dd class="col-sm-7">
                            <div class="quiz-medal">
                                <div class="quiz-medal__circle quiz-medal__circle--gold">
                                    <span>{{ latestResult.toolVersion }}</span>
                                </div>
                                <div class="quiz-medal__ribbon quiz-medal__ribbon--left"></div>
                                <div class="quiz-medal__ribbon quiz-medal__ribbon--right"></div>
                            </div>
                        </dd>
                    {% endif %}
                </dl>
                <hr>
            {% endif %}

            <h2>Goals</h2>

            {% for goal in baselineConfiguration.baselineConfigurationGoals %}
                {% set errorsLeft = (latestResult.commutativeErrors - goal.errorGoal) > 0 ? (latestResult.commutativeErrors - goal.errorGoal) : 0 %}

                <div class="card mb-3{% if errorsLeft == 0 %} border-success{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ goal.errorGoal }} Errors</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ goal.benefitTitle }}</h6>
                        <p class="card-text">{{ goal.benefitDescription }}</p>

                        <div class="progress mt-3">
                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: {{ (goal.errorGoal*100)/latestResult.commutativeErrors }}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {{ errorsLeft }} errors left</div>
                        </div>
                    </div>
                    {% if errorsLeft == 0 %}
                        <div class="card-footer text-center">
                            🎉🎉🎉🎉🎉🎉 <span class="badge text-bg-success">Done</span> 🎉🎉🎉🎉🎉🎉
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
